.button-redirect-container {
    margin-bottom: 50px;
    margin-left: 50px;
    width: 80%;
    h2 {
        margin: 20px 0;
    }
    .button-redirect {
        background-color: #00a1e0;
        padding: 10px 20px;
        text-align: center;
        font-weight: bold;
        margin-left: 20px;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
    }
}
