.product-number {
    color: yellow;
    font-size: 0.875em;
    padding-bottom: 0.938em;
    padding-top: 0.938em;
}
.sliders-container {
    overflow: hidden;
    width: 100%;
}

.slider-image-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.slick-next::before,
.slick-prev::before {
    color: black !important;
}

.slick-prev {
    left: 10px !important;
}

.slick-next {
    right: 10px !important;
}

.slick-list {
    padding: 0 !important;
}
