#coupon-link-with-css {
    .promo-code-form {
        display: none;
    }
    &:target {
        .promo-code-form {
            display: block;
        }
        #coupon-code-link {
            display: none;
        }
    }
}
